h1{
  color: #9E685D;
  background-color: #3E974B;
  text-align:center;
  font-family: fantasy;
 }
h2{
  color: #557D63;
  background-color: #B1CC67;
  font-style: italic;
  text-align: center;
}
p{
  font-family: serif;
  color: #D02D6A;
  background-color: #A067CC;
  font-size: 20px;
  background-size: cover;
}
ol{
  line-heig;ht: 40px;
  font-style: normal;
  font-size: 30px;
  background-color: #A067CC;
}
